*{
    overflow-x: hidden;
}
/*----------------------------HEADER----------------------------*/
header{
    width: 100vw;
    max-width: 100%;
    height: 60px;
    background: linear-gradient(#451483, #040E2F);
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 150px;
    height: 40px;
    background-image: url('../images/logo.png');
    background-position: center;
    background-size: 100% 100%;
}
/*--------------------------------------------------------------*/

/*----------------------------BANNER----------------------------*/
.banner{
    width: 100vw;
    max-width: 100%;
    height: calc(100vh - 60px);
    background-image: url('../images/mainBanner.jpg');
    background-position: center;
    background-size: 100% 100%;
    padding-top: 50px;
}

.banner h1{
    text-align: center;
    background: linear-gradient(180deg, rgb(195, 0, 255) 12%, rgb(8, 56, 214) 91%);
    color: rgb(255, 255, 255);
    padding: 5px 0;
    font-family: 'Permanent Marker', cursive;
    font-weight: lighter;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 40px;
    animation: letterAnimation 0.8s infinite;
}

@keyframes letterAnimation{
    0%, 100%{
        opacity: 0.4;
    }
    50%{
        opacity: 1;
    }
}

.downArrow{
    position: absolute;
    bottom: 2%;
    right: 50%;
    width: 35px;
    height: 35px;
    background-image: url('../images/downArrow.png');
    background-position: center;
    background-size: 100% 100%;
    cursor: pointer;
    animation: arrowAnimation 0.7s infinite;
}

@keyframes arrowAnimation{
    0%, 100%{
        bottom: 2%;
    }
    50%{
        bottom: 5%;
    }
}
/*--------------------------------------------------------------*/

/*--------------------------BENIFITS----------------------------*/
.benefits{
    width: 100vw;
    max-width: 100%;
    height: 150px;
    padding-top: 26px;
    background: linear-gradient(#1D0F56, #082b58);
    display: flex;
    justify-content: space-around;
    text-align: center;
    overflow-y: hidden;
}
.benefits--single{
    display: none;
}
.benefits img{
    width: 70px;
    height: 70px;
}
.benefits h2{
    font-weight: lighter;
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 20px;
}
/*--------------------------------------------------------------*/